In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv(r"C:\Users\User\OneDrive\Desktop\Projects\Airlines Analysis\flights_sample_3m.csv")
df

,FL_DATE,AIRLINE,AIRLINE_DOT,AIRLINE_CODE,DOT_CODE,FL_NUMBER,ORIGIN,ORIGIN_CITY,DEST,DEST_CITY,...,DIVERTED,CRS_ELAPSED_TIME,ELAPSED_TIME,AIR_TIME,DISTANCE,DELAY_DUE_CARRIER,DELAY_DUE_WEATHER,DELAY_DUE_NAS,DELAY_DUE_SECURITY,DELAY_DUE_LATE_AIRCRAFT
0,2019-01-09,United Air Lines Inc.,United Air Lines Inc.: UA,UA,19977,1562,FLL,"Fort Lauderdale, FL",EWR,"Newark, NJ",...,0.0,186.0,176.0,153.0,1065.0,NaN,NaN,NaN,NaN,NaN
1,2022-11-19,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,1149,MSP,"Minneapolis, MN",SEA,"Seattle, WA",...,0.0,235.0,236.0,189.0,1399.0,NaN,NaN,NaN,NaN,NaN
2,2022-07-22,United Air Lines Inc.,United Air Lines Inc.: UA,UA,19977,459,DEN,"Denver, CO",MSP,"Minneapolis, MN",...,0.0,118.0,112.0,87.0,680.0,NaN,NaN,NaN,NaN,NaN
3,2023-03-06,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,2295,MSP,"Minneapolis, MN",SFO,"San Francisco, CA",...,0.0,260.0,285.0,249.0,1589.0,0.0,0.0,24.0,0.0,0.0
4,2020-02-23,Spirit Air Lines,Spirit Air Lines: NK,NK,20416,407,MCO,"Orlando, FL",DFW,"Dallas/Fort Worth, TX",...,0.0,181.0,182.0,153.0,985.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2999995,2022-11-13,American Airlines Inc.,American Airlines Inc.: AA,AA,19805,1522,JAX,"Jacksonville, FL",CLT,"Charlotte, NC",...,0.0,85.0,71.0,55.0,328.0,NaN,NaN,NaN,NaN,NaN
2999996,2022-11-02,American Airlines Inc.,American Airlines Inc.: AA,AA,19805,1535,ORD,"Chicago, IL",AUS,"Austin, TX",...,0.0,176.0,145.0,130.0,977.0,NaN,NaN,NaN,NaN,NaN
2999997,2022-09-11,Delta Air Lines Inc.,Delta Air Lines Inc.: DL,DL,19790,2745,HSV,"Huntsville, AL",ATL,"Atlanta, GA",...,0.0,55.0,50.0,28.0,151.0,0.0,36.0,0.0,0.0,0.0
2999998,2019-11-13,Republic Airline,Republic Airline: YX,YX,20452,6134,BOS,"Boston, MA",LGA,"New York, NY",...,0.0,88.0,77.0,50.0,184.0,NaN,NaN,NaN,NaN,NaN
2999999,2019-06-15,Southwest Airlines Co.,Southwest Airlines Co.: WN,WN,19393,2823,LGB,"Long Beach, CA",SJC,"San Jose, CA",...,0.0,70.0,63.0,52.0,324.0,NaN,NaN,NaN,NaN,NaN

In [3]:
print("Dataset Shape:", df.shape)

Dataset Shape: (3000000, 32)

In [4]:
print("Column Info:")
df.info(memory_usage='deep')

Column Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000000 entries, 0 to 2999999
Data columns (total 32 columns):
 #   Column                   Dtype
---  ------                   -----
 0   FL_DATE                  object
 1   AIRLINE                  object
 2   AIRLINE_DOT              object
 3   AIRLINE_CODE             object
 4   DOT_CODE                 int64
 5   FL_NUMBER                int64
 6   ORIGIN                   object
 7   ORIGIN_CITY              object
 8   DEST                     object
 9   DEST_CITY                object
 10  CRS_DEP_TIME             int64
 11  DEP_TIME                 float64
 12  DEP_DELAY                float64
 13  TAXI_OUT                 float64
 14  WHEELS_OFF               float64
 15  WHEELS_ON                float64
 16  TAXI_IN                  float64
 17  CRS_ARR_TIME             int64
 18  ARR_TIME                 float64
 19  ARR_DELAY                float64
 20  CANCELLED                float64
 21  CANCELLATION_CODE        object
 22  DIVERTED                 float64
 23  CRS_ELAPSED_TIME         float64
 24  ELAPSED_TIME             float64
 25  AIR_TIME                 float64
 26  DISTANCE                 float64
 27  DELAY_DUE_CARRIER        float64
 28  DELAY_DUE_WEATHER        float64
 29  DELAY_DUE_NAS            float64
 30  DELAY_DUE_SECURITY       float64
 31  DELAY_DUE_LATE_AIRCRAFT  float64
dtypes: float64(19), int64(4), object(9)
memory usage: 1.9 GB

In [5]:
# List of categorical columns 
cat_cols = ['AIRLINE', 'AIRLINE_CODE', 'ORIGIN', 'ORIGIN_CITY', 
            'DEST', 'DEST_CITY', 'CANCELLATION_CODE']

# Loop through each column and convert it to 'category' dtype
for col in cat_cols:
    df[col] = df[col].astype('category')

In [6]:
# Downcast floats to float32
float_cols = df.select_dtypes(include=['float64']).columns
df[float_cols] = df[float_cols].astype('float32')

In [7]:
# Downcast ints to smaller type if possible
int_cols = df.select_dtypes(include=['int64']).columns
df[int_cols] = df[int_cols].apply(pd.to_numeric, downcast='unsigned')

In [8]:
# Drop unnecessary columns
df = df.drop(columns=['AIRLINE_DOT', 'DOT_CODE', 'FL_NUMBER'])

In [9]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000000 entries, 0 to 2999999
Data columns (total 29 columns):
 #   Column                   Dtype
---  ------                   -----
 0   FL_DATE                  object
 1   AIRLINE                  category
 2   AIRLINE_CODE             category
 3   ORIGIN                   category
 4   ORIGIN_CITY              category
 5   DEST                     category
 6   DEST_CITY                category
 7   CRS_DEP_TIME             uint16
 8   DEP_TIME                 float32
 9   DEP_DELAY                float32
 10  TAXI_OUT                 float32
 11  WHEELS_OFF               float32
 12  WHEELS_ON                float32
 13  TAXI_IN                  float32
 14  CRS_ARR_TIME             uint16
 15  ARR_TIME                 float32
 16  ARR_DELAY                float32
 17  CANCELLED                float32
 18  CANCELLATION_CODE        category
 19  DIVERTED                 float32
 20  CRS_ELAPSED_TIME         float32
 21  ELAPSED_TIME             float32
 22  AIR_TIME                 float32
 23  DISTANCE                 float32
 24  DELAY_DUE_CARRIER        float32
 25  DELAY_DUE_WEATHER        float32
 26  DELAY_DUE_NAS            float32
 27  DELAY_DUE_SECURITY       float32
 28  DELAY_DUE_LATE_AIRCRAFT  float32
dtypes: category(7), float32(19), object(1), uint16(2)
memory usage: 429.3 MB

In [10]:
print("\nMissing Values:")
print(df.isnull().sum())

Missing Values:
FL_DATE                          0
AIRLINE                          0
AIRLINE_CODE                     0
ORIGIN                           0
ORIGIN_CITY                      0
DEST                             0
DEST_CITY                        0
CRS_DEP_TIME                     0
DEP_TIME                     77615
DEP_DELAY                    77644
TAXI_OUT                     78806
WHEELS_OFF                   78806
WHEELS_ON                    79944
TAXI_IN                      79944
CRS_ARR_TIME                     0
ARR_TIME                     79942
ARR_DELAY                    86198
CANCELLED                        0
CANCELLATION_CODE          2920860
DIVERTED                         0
CRS_ELAPSED_TIME                14
ELAPSED_TIME                 86198
AIR_TIME                     86198
DISTANCE                         0
DELAY_DUE_CARRIER          2466137
DELAY_DUE_WEATHER          2466137
DELAY_DUE_NAS              2466137
DELAY_DUE_SECURITY         2466137
DELAY_DUE_LATE_AIRCRAFT    2466137
dtype: int64

In [11]:
# --- Convert to Appropriate Types ---
categorical_cols = ['AIRLINE', 'AIRLINE_CODE', 'ORIGIN', 'ORIGIN_CITY',
                    'DEST', 'DEST_CITY', 'CANCELLATION_CODE']
for col in categorical_cols:
    df[col] = df[col].astype('category')

In [12]:
# ---Convert numeric columns to smaller float types for memory efficiency
numeric_cols = ['DEP_DELAY', 'ARR_DELAY', 'TAXI_OUT', 'TAXI_IN', 
                'CRS_ELAPSED_TIME', 'ELAPSED_TIME', 'AIR_TIME', 'DISTANCE',
                'DELAY_DUE_CARRIER','DELAY_DUE_WEATHER','DELAY_DUE_NAS',
                'DELAY_DUE_SECURITY','DELAY_DUE_LATE_AIRCRAFT']
for col in numeric_cols:
    df[col] = pd.to_numeric(df[col], downcast='float')

In [13]:
# --- Datetime Conversion ---
df['FL_DATE'] = pd.to_datetime(df['FL_DATE'], errors='coerce')

In [14]:
# Convert to datetime, then extract only the time (HH:MM, no seconds)
df['dep_time'] = pd.to_datetime(
    df['DEP_TIME'].fillna(0).astype(int).astype(str).str.zfill(4),
    format='%H%M',
    errors='coerce'
).dt.time

df['arr_time'] = pd.to_datetime(
    df['ARR_TIME'].fillna(0).astype(int).astype(str).str.zfill(4),
    format='%H%M',
    errors='coerce'
).dt.time

In [15]:
# --- Temporal Features ---
df['Month'] = df['FL_DATE'].dt.month
df['DayOfWeek'] = df['FL_DATE'].dt.dayofweek.replace({0:7}) # 7=Monday
df['Quarter'] = df['FL_DATE'].dt.quarter
df['IsWeekend'] = df['DayOfWeek'].apply(lambda x: 1 if x >= 5 else 0)

In [16]:
df['YEAR'] = df['FL_DATE'].dt.year
print(df['YEAR'].unique())
print(df['YEAR'].value_counts().sort_index())

[2019 2022 2023 2020 2021]
YEAR
2019    757673
2020    479350
2021    611633
2022    687860
2023    463484
Name: count, dtype: int64

In [17]:
# --- Route Feature ---
df['Route'] = df['ORIGIN'].astype(str) + '-' + df['DEST'].astype(str)

In [18]:
# --- Distance Binning ---
bins = [0, 500, 1500, 3000, np.inf]
labels = ['Short', 'Medium', 'Long', 'Very_Long']
df['Distance_Bin'] = pd.cut(df['DISTANCE'], bins=bins, labels=labels)

In [19]:
# --- Handle Nulls & Outliers ---
delay_cols = ['DEP_DELAY', 'ARR_DELAY', 'DELAY_DUE_CARRIER', 
              'DELAY_DUE_WEATHER','DELAY_DUE_NAS','DELAY_DUE_SECURITY',
              'DELAY_DUE_LATE_AIRCRAFT']
for col in delay_cols:
    df[col] = df[col].fillna(0)
    # Optional: Cap extreme outliers
    df[col] = df[col].clip(upper=df[col].quantile(0.99))

In [20]:
# Cancellation Handling
df['CANCELLATION_CODE'] = df['CANCELLATION_CODE'].cat.add_categories('Unknown')
df['CANCELLATION_CODE'] = df['CANCELLATION_CODE'].fillna('Unknown')

In [21]:
# Binary flags for cancellation reasons
df['Cancelled_Carrier'] = np.where(df['CANCELLATION_CODE']=='A', 1, 0)
df['Cancelled_Weather'] = np.where(df['CANCELLATION_CODE']=='B', 1, 0)
df['Cancelled_NAS'] = np.where(df['CANCELLATION_CODE']=='C', 1, 0)
df['Cancelled_Security'] = np.where(df['CANCELLATION_CODE']=='D', 1, 0)

In [22]:
# --- Airport Congestion Feature ---
airport_flights = df.groupby(['ORIGIN', 'FL_DATE']).size().reset_index(name='Flights_Per_Origin')
df = df.merge(airport_flights, on=['ORIGIN','FL_DATE'], how='left')

In [23]:
# --- Rolling Metrics Example ---
df['Rolling7D_DepDelay'] = df.groupby('AIRLINE')['DEP_DELAY'].transform(lambda x: x.rolling(7, min_periods=1).mean())

In [24]:
# Function to return the main delay cause and its minutes for each row
def get_delay_reason_and_time(row):
    if row['DELAY_DUE_CARRIER'] > 0:
        return "CARRIER", int(row['DELAY_DUE_CARRIER'])
    elif row['DELAY_DUE_WEATHER'] > 0:
        return "WEATHER", int(row['DELAY_DUE_WEATHER'])
    elif row['DELAY_DUE_NAS'] > 0:
        return "NAS", int(row['DELAY_DUE_NAS'])
    elif row['DELAY_DUE_SECURITY'] > 0:
        return "SECURITY", int(row['DELAY_DUE_SECURITY'])
    elif row['DELAY_DUE_LATE_AIRCRAFT'] > 0:
        return "LATE_AIRCRAFT", int(row['DELAY_DUE_LATE_AIRCRAFT'])
    else:
        return "NO_DELAY", 0

# Apply the function row-wise and create two new columns: DELAY_CAUSE & DELAY_MINUTES
df[['DELAY_CAUSE', 'DELAY_MINUTES']] = df.apply(get_delay_reason_and_time, axis=1, result_type='expand')

In [25]:
delay_cols = [
    'DELAY_DUE_CARRIER',
    'DELAY_DUE_WEATHER',
    'DELAY_DUE_NAS',
    'DELAY_DUE_SECURITY',
    'DELAY_DUE_LATE_AIRCRAFT'
]

# Drop in place
df.drop(columns=delay_cols, inplace=True)

In [26]:
# -- Columns to drop -- 
drop_cols = [
    "AIRLINE_CODE",
    "ORIGIN_CITY", "DEST_CITY",
    "CRS_DEP_TIME", "CRS_ARR_TIME", "DEP_TIME", "ARR_TIME",
    "CRS_ELAPSED_TIME", "ELAPSED_TIME", "AIR_TIME",
    "TAXI_OUT", "TAXI_IN", "WHEELS_OFF", "WHEELS_ON",
    "CANCELLATION_CODE"
]

# Drop safely (ignore if column missing)
df = df.drop(columns=[col for col in drop_cols if col in df.columns])

print("Remaining columns:", df.columns.tolist())
print("Shape after dropping:", df.shape)

Remaining columns: ['FL_DATE', 'AIRLINE', 'ORIGIN', 'DEST', 'DEP_DELAY', 'ARR_DELAY', 'CANCELLED', 'DIVERTED', 'DISTANCE', 'dep_time', 'arr_time', 'Month', 'DayOfWeek', 'Quarter', 'IsWeekend', 'YEAR', 'Route', 'Distance_Bin', 'Cancelled_Carrier', 'Cancelled_Weather', 'Cancelled_NAS', 'Cancelled_Security', 'Flights_Per_Origin', 'Rolling7D_DepDelay', 'DELAY_CAUSE', 'DELAY_MINUTES']
Shape after dropping: (3000000, 26)

In [27]:
df.head()

,FL_DATE,AIRLINE,ORIGIN,DEST,DEP_DELAY,ARR_DELAY,CANCELLED,DIVERTED,DISTANCE,dep_time,...,Route,Distance_Bin,Cancelled_Carrier,Cancelled_Weather,Cancelled_NAS,Cancelled_Security,Flights_Per_Origin,Rolling7D_DepDelay,DELAY_CAUSE,DELAY_MINUTES
0,2019-01-09,United Air Lines Inc.,FLL,EWR,-4.0,-14.0,0.0,0.0,1065.0,11:51:00,...,FLL-EWR,Medium,0,0,0,0,35,-4.0,NO_DELAY,0
1,2022-11-19,Delta Air Lines Inc.,MSP,SEA,-6.0,-5.0,0.0,0.0,1399.0,21:14:00,...,MSP-SEA,Medium,0,0,0,0,36,-6.0,NO_DELAY,0
2,2022-07-22,United Air Lines Inc.,DEN,MSP,6.0,0.0,0.0,0.0,680.0,10:00:00,...,DEN-MSP,Medium,0,0,0,0,79,1.0,NO_DELAY,0
3,2023-03-06,Delta Air Lines Inc.,MSP,SFO,-1.0,24.0,0.0,0.0,1589.0,16:08:00,...,MSP-SFO,Long,0,0,0,0,40,-3.5,NAS,24
4,2020-02-23,Spirit Air Lines,MCO,DFW,-2.0,-1.0,0.0,0.0,985.0,18:38:00,...,MCO-DFW,Medium,0,0,0,0,46,-2.0,NO_DELAY,0

In [28]:
df.describe(include='all')

,FL_DATE,AIRLINE,ORIGIN,DEST,DEP_DELAY,ARR_DELAY,CANCELLED,DIVERTED,DISTANCE,dep_time,...,Route,Distance_Bin,Cancelled_Carrier,Cancelled_Weather,Cancelled_NAS,Cancelled_Security,Flights_Per_Origin,Rolling7D_DepDelay,DELAY_CAUSE,DELAY_MINUTES
count,3000000,3000000,3000000,3000000,3.000000e+06,3.000000e+06,3.000000e+06,3.000000e+06,3.000000e+06,2999758,...,3000000,3000000,3.000000e+06,3.000000e+06,3.000000e+06,3.000000e+06,3.000000e+06,3.000000e+06,3000000,3.000000e+06
unique,NaN,18,380,380,NaN,NaN,NaN,NaN,NaN,1440,...,7785,4,NaN,NaN,NaN,NaN,NaN,NaN,5,NaN
top,NaN,Southwest Airlines Co.,ATL,ATL,NaN,NaN,NaN,NaN,NaN,00:00:00,...,SFO-LAX,Medium,NaN,NaN,NaN,NaN,NaN,NaN,NO_DELAY,NaN
freq,NaN,576470,153556,153569,NaN,NaN,NaN,NaN,NaN,77615,...,5358,1545737,NaN,NaN,NaN,NaN,NaN,NaN,2466920,NaN
mean,2021-05-07 18:03:59.616002048,NaN,NaN,NaN,8.297214e+00,2.593321e+00,2.638000e-02,2.352000e-03,8.093613e+02,NaN,...,NaN,NaN,6.492000e-03,9.590667e-03,2.158333e-03,8.139000e-03,3.533592e+01,8.297213e+00,NaN,5.602681e+00
min,2019-01-01 00:00:00,NaN,NaN,NaN,-9.000000e+01,-9.600000e+01,0.000000e+00,0.000000e+00,2.900000e+01,NaN,...,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,-1.785714e+01,NaN,0.000000e+00
25%,2019-12-28 00:00:00,NaN,NaN,NaN,-6.000000e+00,-1.500000e+01,0.000000e+00,0.000000e+00,3.770000e+02,NaN,...,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.100000e+01,-8.571429e-01,NaN,0.000000e+00
50%,2021-06-28 00:00:00,NaN,NaN,NaN,-2.000000e+00,-6.000000e+00,0.000000e+00,0.000000e+00,6.510000e+02,NaN,...,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.000000e+01,4.857143e+00,NaN,0.000000e+00
75%,2022-08-02 00:00:00,NaN,NaN,NaN,6.000000e+00,6.000000e+00,0.000000e+00,0.000000e+00,1.046000e+03,NaN,...,NaN,NaN,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,5.200000e+01,1.428571e+01,NaN,0.000000e+00
max,2023-08-31 00:00:00,NaN,NaN,NaN,1.890000e+02,1.870000e+02,1.000000e+00,1.000000e+00,5.812000e+03,NaN,...,NaN,NaN,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.500000e+02,1.470000e+02,NaN,1.090000e+02
std,NaN,NaN,NaN,NaN,3.190439e+01,3.468190e+01,1.586574e-01,4.838336e-02,5.870297e+02,NaN,...,NaN,NaN,8.031100e-02,9.746122e-02,4.640771e-02,8.984854e-02,2.881311e+01,1.233359e+01,NaN,1.699274e+01

In [29]:
cleaned_path = r"C:\Users\User\OneDrive\Desktop\Projects\Airlines Analysis\/cleaned_flights_data.csv"
df.to_csv(cleaned_path, index=False)

print(f"Cleaned dataset saved at: {cleaned_path}")

Cleaned dataset saved at: C:\Users\User\OneDrive\Desktop\Projects\Airlines Analysis\/cleaned_flights_data.csv